# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.venv
.env
.env.*
!.env.example
backend/app/db.sqlite3

# Next.js
frontend/.next/
frontend/out/
frontend/build/
frontend/node_modules/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# OS
.DS_Store
Thumbs.db
